MYSQL_ROOT_PASSWORD=

IPS_V4_FILES_DIRECTORY=/Path/to/downloaded/ips-v4/files/directory
IPS_V5_FILES_DIRECTORY=/Path/to/downloaded/ips-v5/files/directory
IPS_SQL_DUMP_FILES_DIRECTORY=/Path/to/downloaded/ips/files/db-dumps

IPS_V4_PORT=30444
IPS_V5_PORT=30555
PYPMYADMIN_PORT=30888

# Elastic Search
ELASTIC_PASSWORD=
KIBANA_PASSWORD=
STACK_VERSION=8.18.2
CLUSTER_NAME=ips-cluster
LICENSE=basic
KIBANA_PORT=40080
ES_PORT=50080
# (in bytes)
MEM_LIMIT=1073741824
